/*整体布局*/
.content{
  width:100%;
  padding-top:20px;
  background:url(../../img/frontend/about/background.jpg) no-repeat;
  background-size:cover;
  color:#333;
  padding-bottom:33px;
}
.inner{
  width:1200px;
  margin:0 auto;
}
.inner::after{
  content:"";
  display:block;
  clear:both;
}

/*左边*/
.leftBar{
  width:250px;
  border-top:6px solid #cbb47c;
  float:left;
  margin-right:8px;
  overflow:hidden;
}
.leftBar li{
  width:250px;
  height:60px;
  background-color:rgba(255,255,255,0.8);
  overflow:hidden;
  color:#333;
  line-height:60px;
  padding-left:33px;
  font-size:14px;
  cursor:pointer;
}
.selected{
  background-color:#fff !important;
}

/*右边*/
.rightContent{
  width:942px;
  float:right;
  overflow:hidden;
  background-color:#fff;
  padding-bottom:50px;
}
.rightContent .title{
  width:100%;
  height:67px;
  background:url(../../img/frontend/about/top_bg.jpg) no-repeat;
  background-size:cover;
  color:#fff;
  font-size:20px;
  line-height:67px;
  padding-left:64px;
}
.article{
  padding-left:45px;
  padding-right:50px;
  font-size:14px;
  line-height:26px;
}
.article h4{
  height:30px;
  width:150px;
  background-color:#cbb47c;
  color:#fff;
  line-height:30px;
  border-radius:5px;
  text-align:center;
  margin-bottom:14px;
  margin-top:26px;
}
.detailed{
  display:none;
}
.visible{
  display:block;
}

.about ul{
  margin-left:20px;
}
.about li{
  list-style:circle;
}

.contact h3{
  margin-top:10px;
}
.contact li{
  line-height:50px;
}
.contact .address1 i{
  display:inline-block;
  width:19px;
  height:20px;
  background:url(../../img/frontend/public/phone.png) no-repeat; 
  position:relative;
  top:4px;
  margin-right:12px; 
}
.contact .address i{
  display:inline-block;
  width:16px;
  height:20px;
  background:url(../../img/frontend/about/gps.png) no-repeat; 
  position:relative;
  top:4px;
  margin-right:12px;
}


.question h4{
  color:#cbb47c;
  background-color:transparent;
  width:100%;
  text-align:left;
}
.question .express{
  margin-left:20px;
}
.question ol{
  margin-left:20px;
}
.question li{
  list-style:decimal;
}